# Unit_1 & 2 (Basics of Python)

In [7]:
print ("Enter two numbers")
a=int (input ())
b=int(input ())
c=a+b
print("Sum is", c)

Enter two numbers
5
4
Sum is 9

In [106]:
######## swapping of two variables
a=10
b=11
a,b=b,a
print(a)
print(b)

11
10

In [3]:
######## seperators of your own choice


a=10
b=20
print(a,b,sep='  mychoice  ')

10  mychoice  20

In [2]:
a=10
b=20
c=9
d=90
print(a,b,sep='$',end='&')
print('why this')

10$20&why this

In [1]:
######## index in python


x="YOUTUBE"
print(x[4])
print(x[-6])
print(x[:10])    #agr beginning ki value specify na ho aur step ki alue positive h toh by default beginning ki value '0' consider krenge
print(x[-4:])   
print(x[::-2])   #iss step mein hamne start to end value print ki h prr hamare step ki value negative h toh hamari beginnig ki value last index to starting hoga
print(x[::3])   
print('my &'+x[3:7])

U
O
YOUTUBE
TUBE
EUUY
YTE
my &TUBE

In [36]:
######## slicing operators-->> wherever indexing is used we can use slicing operator to extract a particular part

name=str(input('name:'))
no=int(input('no:'))
if len(name)>no:
    print(name[-2:]+name[0:-2]) 
else:
    print("slicing operation is not possible")

print()
name='my sirji education services limited'
print(name[-1::-1])

name:amankyadav
no:7
avamankyad

detimil secivres noitacude ijris ym

In [12]:
"""""list""""" 


x=[1,12,23,43,65,78]
print(x)
x.insert(3,89) #inserting a no in list
print(x)

x.append(777)
print(x)

[1, 12, 23, 43, 65, 78]
[1, 12, 23, 89, 43, 65, 78]
[1, 12, 23, 89, 43, 65, 78, 777]

In [17]:
x=[1,12,23,43,65,78] #unpacking in list
a,b,c,d,e,f=x
print(d)


y=[2,3,4]   
print(y*3)    #repetition operator in list



p=9
q=7
r=5
s=3
l1=[p,q,r,s]    #packing in list
print(l1)

43
[2, 3, 4, 2, 3, 4, 2, 3, 4]
[9, 7, 5, 3]

In [2]:
l=[k+9 for k in range(1,6)]     #list comprehension
print(l)

[10, 11, 12, 13, 14]

In [2]:
x=[1,98,2,35,5,19]
y=[1,12,23,43,65,78]
print(x+y)    #list concatenation
print(len(x))      #tells us length of list
print(min(x))     #min value in list
print(max(x))     #max value in list
print(sum(x))        #sum of list
print(sorted(x))   #prints list in sorted order

[1, 98, 2, 35, 5, 19, 1, 12, 23, 9333, 43, 65, 78]
6
1
98
160
[1, 2, 5, 19, 35, 98]
[1, 12, 23, 43, 65, 78, 9333]

In [6]:
x=[1,12,23,43,65,78]
print(x)
x.remove(43)   #removing a no from list
print(x)

[1, 12, 23, 43, 65, 78]
[1, 12, 23, 65, 78]

In [11]:
x=[1,12,23,43,65,78]
print(x)
x.pop(3)    #another method of removing particular element
print(x)

[1, 12, 23, 43, 65, 78]
[1, 12, 23, 65, 78]

In [40]:
x=[1,12,23,43,65,78]
print(x)
del x[0:2]    #del multiple no with the help of index no
print(x)

[1, 12, 23, 43, 65, 78]
[23, 43, 65, 78]

In [41]:
x=[1,12,23,43,65,78]
print(x)
x.extend([2,0,99,73])   #for adding multiple value to list
print(x)

[1, 12, 23, 43, 65, 78]
[1, 12, 23, 43, 65, 78, 2, 0, 99, 73]

In [43]:
x=[1,12,23,43,65,78]
print(x)
print(min(x))    #for minimum value in the list

[1, 12, 23, 43, 65, 78]
1

In [44]:
x=[1,12,23,43,65,78]
print(x)  
print(max(x))        #for maximum value in the list

[1, 12, 23, 43, 65, 78]
78

In [5]:
x=[1,79,57,12,43,65,78]
y=[1,79,57,12,43,65,78]
print(x) 
x.sort()    #for sorting elements in list
print(x)
print(sorted(y))

[1, 79, 57, 12, 43, 65, 78]
[1, 12, 43, 57, 65, 78, 79]
[1, 12, 43, 57, 65, 78, 79]

In [1]:
x=[1,79,57,12,43,65,78]
print(x)
x.clear()      #for clearing or deleting all elements of list
print(x)

[1, 79, 57, 12, 43, 65, 78]
[]

In [2]:
x=[1,79,57,12,43,65,78]
print(x)
x.reverse()     #for reversing the order of list
print(x)

[1, 79, 57, 12, 43, 65, 78]
[78, 65, 43, 12, 57, 79, 1]

In [3]:
x=[1,79,57,12,43,65,78]
print(x)
k=x.index(78)   #to know the index of any element in list
print(k)

[1, 79, 57, 12, 43, 65, 78]
6

In [6]:
"""""set"""""
# set -->> concatenation in set is not allowed
# set -->> repetition in set is not allowed
#set -->> supports comparision operators_____compares each and every element in set


s={1, 79, 57, 12, 43, 65, 78, 70, 79}
print(s)
print(list(s))   #to remove duplicate element from list
r={}
print(type(r))   #empty set ko hmm dictionary consider krte h


print()
p=[1, 79, 57, 12, 43, 65, 78]
print(set(p))
q=(1, 79, 57, 12, 43, 65, 78)
print(set(q))
# print(list(1)) -->> through this way neither set nor list nor tuple can be created


print()
#writing a program based on set in a single line
l1=list(set([int(x) for x in input("Enter different no seperated by comma's:").split(',')]))
print(l1)


m={1, 79, 57, 12, 43, 65, 78, 70, 79}
n={1, 78, 57, 12, 43, 65, 78, 70, 79}

print()
print(m==n)    #comparison operator
print(m>n)
print(m<n)
print(m!=n)

{65, 1, 70, 43, 12, 78, 79, 57}
[65, 1, 70, 43, 12, 78, 79, 57]
<class 'dict'>

{1, 65, 43, 12, 78, 79, 57}
{1, 65, 43, 12, 78, 79, 57}

Enter different no seperated by comma's:12,23,445,67
[67, 12, 445, 23]

True
False
False
False

In [32]:
k={1, 65, 43, 12, 78, 79, 57}
for i in k:
    print(i)
print(len(k))
print(min(k))
print(max(k))
print(sorted(k))    #always return sorted list of given elements

65
1
57
43
12
78
79
7
1
79
[1, 12, 43, 57, 65, 78, 79]

In [10]:
#different functions in set
s={12,34,57,86,99,37,23}
print(s)


print()
print(s.add('232'))
print(s.update((99,33)))     #to add value to set
print(s.remove(12))
print(s.discard(57))   #-->>discard is more better bcoz if we ask for removing any number that is present than it
                                  # will remove it otherwise igone this command
print(s.pop())     #to remove any value using pop function
print(s.clear())    #it will create an empty set


print()
s1={91,92,93,94,95}
s2={88,89,90,91,92}
s3={91,92}
print(s1.intersection(s2))
print(s1.union(s2))
print(s3.issubset(s2))
print(s1.issuperset(s3))

{34, 99, 37, 86, 23, 57, 12}

None
None
None
None
232
None

{91, 92}
{88, 89, 90, 91, 92, 93, 94, 95}
True
True

In [55]:
#set comprehension
s={x for x in str(input("Enter a string:")) if x in "aeiou"}
print(s)


print()
k=str(input("Enter a string:"))    #-->>same as above qeustion just different is mthe way of doing!!!
ss=[]
for i in k:
    if i in "aeiou":
        ss.extend(i)
print(set(ss))

Enter a string:ui
{'u', 'i'}

Enter a string:aei
{'i', 'a', 'e'}

In [8]:
"""string"""


a="amankyadav"
a.isupper()
print(a)
b='will achieve it!'
k=a,b
print(a,b)         #concatenation of two strings

print()
print(a*3)      #repetition of str

print()
print(a>b)      #comparison operator in python basically compares the first letter on that basis it returns boooleans value
print(a<b)

amankyadav
amankyadav will achieve it!

amankyadavamankyadavamankyadav

False
True

In [39]:
k="amankyadav"
n="10 20 30 40 50"
for i in k:      #for acessing one by one each nd every elemnt in str k
    print(i)    
    
print()
print(len(k))      #to find len of str
print(min(k))      #to print min str that is present in the string
print(max(k))       #to pprint max string that is present in the string



print()
print(sorted(set(k)))      #it will print our str in sorted format but in list
nn=n.split()
print(nn[::-1])

a
m
a
n
k
y
a
d
a
v

10
a
y

['a', 'd', 'k', 'm', 'n', 'v', 'y']
['50', '40', '30', '20', '10']

In [35]:
x="my name is aman kuMar yadav"
y='123432123432'
print(x[7],x[4])     #indexing works in str and every element including space gets their espective indexing no
print(x.index("d"))
print(x.index(" "))

print()
print(x.isupper())
print(x.islower())
print(y.isdigit())

print()
l=x.replace("a",'A')     #replcaing every element in string
print(l)

  a
24
2

False
False
False

my nAme is AmAn kuMAr yAdAv

In [37]:
"""""format function is string"""""


#split funtion always returns list of string
x="my name is aman kumar yadav"
print(x.split())

#join works only when list of string is present as an argument
k=['my','name','is','aman']
print('_'.join(k))

['my', 'name', 'is', 'aman', 'kumar', 'yadav']
my_name_is_aman

In [94]:
"""'''tuples'''""""


#tuples -->> inx=dexing is same as in list

#examples of tuple
k=(1,2,3,4,5)
l=("aman","shivam","om","rohit")
m=()     #for empty tuple
n=(10,)   #for single value tuple creation
o=list(n)
print(type(k))
print(k,l,m,n,o)
print(l[3])


print()
x=(1,77,98,2,29,30)
print(x[-5:-2])    #using slicing operator in tupples

<class 'tuple'>
(1, 2, 3, 4, 5) ('aman', 'shivam', 'om', 'rohit') () (10,) [10]
rohit

(77, 98, 2)

In [41]:
l=("aman","shivam","om","rohit")
k=(1,2,3,4,5)
for i in k:
    print(i)
    i+=1
    
    
print()

#builtin function in tuples
m=(9,88,78,907,-903)

print(len(m))      #length of our tuples
print(min(m))     
print(max(m))
print(sorted(m))     #sorted function returns list of our soretd tuple
print(sorted(m,reverse=True))  


print()
t1=(9,8,0)
t2=(7,9,88)
print(t1==t2,t1<t2,t1>t2,t1!=t2)     #comparison operators in tuple mein 1st element ko compare krenge


print()
t2=(1,97,3,4,5)
print(t2.index(97))     #index no batayega

1
2
3
4
5

5
-903
907
[-903, 9, 78, 88, 907]
[907, 88, 78, 9, -903]

False False True True

1

In [65]:
""""range"""" 


print(tuple(range(12)))
print(set(range(12,24)))
print(list(range(25)))
#
print(tuple(range(12,50,4)))
print(list(range(25,100,9)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
{12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
(12, 16, 20, 24, 28, 32, 36, 40, 44, 48)
[25, 34, 43, 52, 61, 70, 79, 88, 97]

In [59]:
"""""datatypes in python"""""


x=9.7
y=7
print(int(x))  #for integers from float
print(float(y))     #for float from integers
print(complex(x,y))   #creating complex no
print(x>y)    #boolean type that print true or false as per condition
print(x<y)

9
7.0
(9.7+7j)
True
False

In [44]:
""""dictionary"""
# -->> in dictionary indexing is not applicable_but it is iterable
# -->> in dictionary we cannot have duplicate keys but we can have duplicate value
# -->> in dictionary slicing operator is not possible
# -->> dictionary concatenation and repetition is not allowed
# -->> comparision operator is not supportyed except  equality operators i.e. "==","!="


d={1: 'Navin', 77: 'Kiran', 'dog': 'Harsh'}
print(d)
print(d[1])
print(d['dog'])

print(d.get('dog'))    #to fetch data
print(d)
print(d.get(59,'not found'))   #if  that particular key is misiing than it will print not found

{1: 'Navin', 77: 'Kiran', 'dog': 'Harsh'}
Navin
Harsh
Harsh
{1: 'Navin', 77: 'Kiran', 'dog': 'Harsh'}
not found

In [9]:
d={1: 'Navin', 77: 'Kiran', 'dog': 'Harsh'}
print(d)
print(d[1])  #to access particular value using keys
print(d.pop('dog'))    #to remove particular element and to print it
print(d)

{1: 'Navin', 77: 'Kiran', 'dog': 'Harsh'}
Navin
Harsh
{1: 'Navin', 77: 'Kiran'}

In [11]:
keys = ['Navin', 'Kiran', 'Harsh']
values = ['Python', 'Java', 'JS']
"""printing dictionary"""
dic=dict(zip(keys,values))   #creating dictionary
print(dic)

{'Navin': 'Python', 'Kiran': 'Java', 'Harsh': 'JS'}

In [43]:
keys = ['Navin', 'Kiran', 'Harsh']
values = ['Python', 'Java', 'JS']
dic=dict(zip(keys,values))
print(dic)
dic['Monika']='why'    #adding element to dictionary
print(dic)

{'Navin': 'Python', 'Kiran': 'Java', 'Harsh': 'JS'}
{'Navin': 'Python', 'Kiran': 'Java', 'Harsh': 'JS', 'Monika': 'why'}

In [44]:
keys = ['Navin', 'Kiran', 'Harsh']
values = ['Python', 'Java', 'JS']
dic=dict(zip(keys,values))
print(dic)
del dic['Kiran']    #adding element to dictionary
print(dic)

{'Navin': 'Python', 'Kiran': 'Java', 'Harsh': 'JS'}
{'Navin': 'Python', 'Harsh': 'JS'}

In [1]:
keys = ['Navin', 'Kiran', 'Harsh']
values = ['Python', 'Java', 'JS']
dic=dict(zip(keys,values))
print(dic)
print(dic.keys())   #for printing keys in dic
print(dic.values())    # for printing values in dic
print(dic.items())   #for printing items in dic

print()
keys = ['Navin', 'Kiran', 'Harsh']
values = ['Python', 'Java', 'JS']
dic=dict(zip(keys,values))
for i in dic.items():
    for j in i:
        print(j)
    print(i)
    
print()

# -->>> dictionary comprehension

print({a:a**3 for a in range(1,6)})

{'Navin': 'Python', 'Kiran': 'Java', 'Harsh': 'JS'}
dict_keys(['Navin', 'Kiran', 'Harsh'])
dict_values(['Python', 'Java', 'JS'])
dict_items([('Navin', 'Python'), ('Kiran', 'Java'), ('Harsh', 'JS')])

Navin
Python
('Navin', 'Python')
Kiran
Java
('Kiran', 'Java')
Harsh
JS
('Harsh', 'JS')

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [14]:
p= {'JS': 'Atom','CS': 'VS', 'Python': ['Pycharm', 'Sublime'], 'Java': {'JSE': 'Netbeans', 'JEE': 'Eclipse'}}
print(p["JS"])
print(p["Python"])
print(p["Python"][1])
print(p["Java"])
print(p["Java"]['JEE'])

Atom
['Pycharm', 'Sublime']
Sublime
{'JSE': 'Netbeans', 'JEE': 'Eclipse'}
Eclipse

In [45]:
######## operators in python


"""arithmetic operatos"""
x=10
y=5
print("x+y: ",x+y) #addition
print('x-y: ',x-y)   #substraction
print('x*y: ',x*y)   #multiplication
print("x/y: ",x/y)   #division
print("x//y: ",x//y)    #doublle floor division --> for writing quotient
print("x%y:",x%y)   #for finding remainder

x+y:  15
x-y:  5
x*y:  50
x/y:  2.0
x//y:  2
x%y: 0

In [82]:
"""assignment operators"""

# assignment operators are +=,-+,*=,/=
x=8
y=2
x+=y
print ("x=x+y x+=y: ",x) 
x-=y
print('x=x-y x-=y: ',x) 
x*=y
print('x=x*y x*=y: ',x)  
x/=y
print("x=x/y x/=y: ",x)

x=x+y x+=y:  10
x=x-y x-=y:  8
x=x*y x*=y:  16
x=x/y x/=y:  8.0

In [84]:
"""unary operator"""
x=9
print(-x)   #just make the positive no in negative no
y=12
x=-y
print(x)

-9
-12

In [87]:
"""relational operator"""

# relational operators are <,>,<=,>=,==,!=
x=9
y=7
print(x>y)
print(x<y)
a=7
b=4
print(a<=b)
print(a>=b)
c=4
d=4
print(c==d)
print(c!=d)

True
False
False
True
True
False

In [48]:
"""logical operators"""

# logical operators are 'and','or','not'
a=7
b=2
print(a>b and b<a)
print(a<b and b>a)
print(a>b and b>a)
print(a<b or b>a)
print(a>b or b>a)
print(a>b or b<a)


x=False
print(x)
print(not x)

True
False
False
False
True
True
False
True

In [10]:
"""membership operators"""

#membership operators('in' and 'not in') are used to check whether elemnt is present or not and returns a boolean value i.e. 'True','False'
x=[1,79,57,12,43,65,78]
print(65 in x)     #if present it will print "True" else "False"
print(65 not in x)         #if not present it will print "True" else "False"

True
False

In [105]:
######## number system conversions

x=7
print(bin(x))
print(bin(x)[3:]) #bin reperesent binary format

y=12
print(oct(y))   #oct represents octal form
print(oct(y)[2:])

a=9
print(hex(a))    #hex represents hexadecimal form
print(hex(a)[2:])

0b111
11
0o14
14
0x9
9

In [117]:
####### bitwise operators And(&), Or(|), Xor(^)

a=12         #bitwise complement(~)____execution is based on binary form  { bin(12) ko ~1 lekar+1 krte h}
print(~a)
b=45
print(~b)

x=12
y=9
print(x&y)     #bitwise And(&)____execution is based on binary form  { bin(12) and  bin(9) ke bin form 
                                            #ko add krte waqt 1+0=0 lenge and 1+1=1}


c=34
d=2
print(c|d)      #bitwise Or(|)____execution is based on binary form {bin(34) and bin(2) ke bin form ko
                                            #krte waqt 1+0=1, 1+1=1 lenge}

e=56
f=7
print(e^f)       #bitwise Xor(^)____execution is based on binary form {bin(56) and bin(7) ke bin form ko 
                            #upside likhne ke baad jb compare krenge toh 0 0=0, 1 0=1, 0 1=1, 1 1=0 }


print(10<<2)      #bitwise leftshift(<<)____execution is based on binary form {we gains 2 bits at the end}


print(10>>2)      #bitwise rightshift(<<)____execution is based on binary form {we lose 2 bits at the end}

-13
-46
8
34
63
40
2

In [11]:
###### import math functions in python

import math
x=25
y=math.sqrt(25)
print(y)
print(math.sqrt(3))


z=2.3
print(math.floor(z))   #floor mean lower value
print(math.ceil(z))    #ceil mean higher posiible value

a=3
b=4
print(math.pow(a,b))

print(math.pi)

import math as m
print(m.sqrt(4))

5.0
1.7320508075688772
2
3
81.0
3.141592653589793
2.0

In [14]:
###### user inpput in python
a=int(input('enter a no:'))
b=float(input('enter a no:'))
c=a+int(b)
print('sum:',c)

enter a no:7
enter a no:8.8
sum: 15

In [10]:
"""decisiion control in python"""


x=-21 
if x>0:
    print("Hello")        #if block
    print("MySirG")
print ("Bye")



x=int(input('x:'))
if x>=0:
    print(x,"is a positive number")         #if block
if x<0:
    print(x,'is non-positive number')

Bye
x:9
9 is a positive number

In [6]:
marks=int(input('marks:'))
if 90<marks<=100:
    print("Grade A")
elif 80<marks<=90:
    print("Grade B")
elif 70<marks<=80:
    print("Grade C")             #if elif block
elif 60<marks<=70:
    print("Grade D")
elif 50<=marks<=60:
    print("Grade E")
else:
    print("Grade F")

marks:44
Grade F

In [5]:
x=int(input('x:'))
if x>=0:
    print(x,"is a positive number")       #if else block
else:
    print(x,'is non-positive number')

x:9
9 is a positive number

In [7]:
# if else block in single line
print("even" if int(input('k:'))%2==0 else "odd")

k:-9
odd

In [38]:
"""while loop"""

n=int(input('n:'))
i=1
av=5
while i<=n:
    if i<=av:
        print('mySirG')
    i+=1

n:8
mySirG
mySirG
mySirG
mySirG
mySirG

In [ ]:
n=int(input('n:'))
i=1
j=1
while i<=n:
        print('mySirG')
        while j<=3:
            print('ok')
        i+=1

In [1]:
#program to write n no
n=int(input('n:'))
i=1
while i<=n:
    print(i,end=' ')
    i+=1

n:9
1 2 3 4 5 6 7 8 9

In [5]:
#program to write sum of n no
n=int(input('n:'))
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
print('sum:',sum)

n:5
sum: 15

In [ ]:
"""break in loop"""
n=int(input('n:'))
i=2
while i<n:
    if n%i==0:
        break
    i+=1
if i==n:
    print("prime")
else:
    print("not prime")

In [3]:
n=int(input('n:'))
i=2
while i<n:
    if n%i==0:
        print("not prime")
        break
    i+=1
else:
    print("prime")

n:72
not prime

In [5]:
"""for loop"""
x="mySirG"
for a in x:
    print(a,ord(a))

m 109
y 121
S 83
i 105
r 114
G 71

In [4]:
p=input('Pizza Order:')
if p='s':
    s=100
    print("small size:",s)
    peperoni=30
    cheese=20
    if(peperoni):
        print('Peperoni:',peperoni)
    elif(cheese):
        print("Cheese:",cheese)

elif p=='m':
    m=200
    print('medium size:',m)
    peperoni=50
    cheese=20
    if(peperoni):
        print('Peperoni:',peperoni)
    elif(cheese):
        print("Cheese:",cheese)
elif p=='l':
    l=300
    print('large size:',l)
    peperoni=50
    cheese=20
    if(peperoni):
        print('Peperoni:',peperoni)
    elif(cheese):
        print("Cheese:",cheese)

Pizza Order:l
large size: 300
Peperoni: 50

In [7]:
# break
n=int(input('n:'))
i=1
av=10
while i<=n:
    if i>av:
        print("Out of Stock")
        break     #break to end the program
    print('Buy')
    i+=1

n:90
Buy
Buy
Buy
Buy
Buy
Buy
Buy
Buy
Buy
Buy
Out of Stock

In [ ]:
#continue
for i in range(1,50):
    if i%3==0 or i%5==0:
        continue     #continue basically skip the program
    print(i*2)

In [12]:
#pass
for i in range(1,50):
    if(i%2!=0):
        pass     #pass simply means there is no code ignore it
    else:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [24]:
"""for loop"""
x=['nai',7,'ok','why',0,13,'lost']
for i in x:     #for loop is used to fetch values
    print(i)
    
    
x='EDUCATION'
for i in x:
    print(id(i))
    
    
for i in range(1,25,5):
    print(i)
    
    
for i in range(1,100,5):
    if(i%2==0):
        continue
    print(i)

nai
7
ok
why
0
13
lost
4341928280
4341928224
4341929176
4341928168
4341928056
4341929120
4341928504
4341928840
4341928784
1
6
11
16
21
1
11
21
31
41
51
61
71
81
91

In [ ]:
x=int(input("x:"))
for i in range(1,x+1):
    if(x%5==0):
        print(x)
        break
    else:
        print('end of the program')
    break

In [1]:
#prime numbers
x=int(input("x:"))
i=2
while i<x:
    if(x%i==0):
        print(x,"NOT PRIME")
        break
    else:
        print(x,"PRIME")
        break

x:8
8 NOT PRIME

In [2]:
x=int(input("x:"))
for i in range(2,x):
    if(x%i==0):
        print(x,"NOT PRIME")
        break
    else:
        print(x,"PRIME")
        break

x:11
11 PRIME

In [1]:
"""printing patterns in python"""
print(('#')*8)


for i in range(4):
    print("* ",end="")
print()
for i in range(4):
    print("* ",end="")
print()
for i in range(4):
    print("* ",end="")

########
* * * *
* * * *
* * * *

In [20]:
for i in range(4):
    for j in range(4):
        print("* ",end="")
    print()

* * * *
* * * *
* * * *
* * * *

In [37]:
for i in range(1,5):
    for j in range(i):
        print("$ ",end="")
    print()

$
$ $
$ $ $
$ $ $ $

In [30]:
for i in range(4):
    for j in range(4-i):
        print("* ",end="")
    print()

* * * *
* * *
* *
*

In [3]:
# year based question
year=int(input('year:'))
if year%400==0 or year%4==0:
    print(year,'is a leap year')
elif year%100==0:
    print(year,'is not a leap year')
else:
    print(year,'is not a leap year')

year:2017
2017 is not a leap year

In [4]:
#factor based question
n=int(input('num:'))
i=1
divisor=[]
while i<n:
    if n%i==0:
        divisor.append(i)
    i+=1
divisorsum =sum(divisor)
print('factors:',divisor)
print('sum:',divisorsum)

if(divisorsum==n):
    print('perfect')
elif(divisorsum>on):
    print('abundant')
else:
    print('deficient')

num:8
factors: [1, 2, 4]
sum: 7
deficient

In [6]:
a,b,c=(input("a,b,c: ").split(','))
a,b,c=[int(a),int(b),int(c)]
if a>b and a>c:
    print(a)
elif b>c and b>a:
    print(b)
else:
    print(c)

a,b,c: 12,23,22
23

In [9]:
#sum of all digit in an number
num=(int(input('num:')))
sum=0
while(num):
    sum=sum+(num%10)
    num=num//10
print("sum:",sum)

num:76876
sum: 34

In [11]:
#printing vowels consonants and not an alphabet
ch=input('ch: ')
vowels=['A','I','E','O','U','a','e','i','o','u']
if ch.isalpha():
    if ch in vowels:
        print("vowels")
    else:
        print('consonant')
else:
    print("not a alphabet")

ch: 8
not a alphabet

In [13]:
#febonaci seriees
k=int(input("k:"))
first=0
second=1
third=0
i=0
sum=0
while third<k:
    print(third)
    if(i%2==0):
        sum=sum+third
    first=second
    second=third
    third=first+second
    i+=1
print("sum:",sum)

k:25
0
1
1
2
3
5
8
13
21
sum: 33

In [6]:
#matrix formation
matrix=[[1,2,3,4],[4,5,6,7],[5,6,7,8]]
print("matrix:",matrix)
transposed=[]
for i in range(len(matrix[0])):
    tra_row=[]
    for row in matrix:
        tra_row.append(row[i])
    transposed.append(tra_row)
print('transposed:',transposed)

matrix: [[1, 2, 3, 4], [4, 5, 6, 7], [5, 6, 7, 8]]
transposed: [[1, 4, 5], [2, 5, 6], [3, 6, 7], [4, 7, 8]]

In [12]:
import math
pi=math.pi
n=int(input("n:"))
for i in range(1,1+n):
    print('{:.{}f}'.format(pi,i))

n:7
3.1
3.14
3.142
3.1416
3.14159
3.141593
3.1415927

In [30]:
######   cbt 1   ######
x=str(input(' '))
y=int(input(" "))
if len(x)<y:
    print("Not possible")
elif len(x)>y:
    print(x[-2:]+x[0:-2])

 python
 5
onpyth

In [31]:
######   cbt 1   ######
x=(input(' '))
y=(input(" ")
print(complex(x,y)

 7
 9.99909990
(7+9.9990999j)

In [14]:
month=str(input("Enter a Month: "))

if month in ('September','september','June','june','November','november','April','april'):
    print("No of days: 30")
elif month in ('Janurary','janurary','March','march','May','may','July','july','August','august','october','October','December','december'):
    print("No of days: 31")
elif month in ("Feburary","feburary"):
    print("No of days: 28/29")
else:
    print("wrong month name")

Enter a Month: april
No of days: 30